@import "tailwindcss";

@font-face {
    font-family: 'Outfit';
    src: url('/public/outfit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fira Code';
    src: url('/public/firacode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  body {
    font-family: 'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    line-height: 1.5;
    color: #1a202c;
  }
  
  h1 {
    font-family: 'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
  }
  
  h2 {
    font-family: 'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.3;
  }
  
  h3 {
    font-family: 'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 1rem; /* Adjust as needed, often default browser size */
    font-weight: 600; /* Often 'font-semibold' */
    margin-bottom: 0.75rem;
    line-height: 1.4;
  }
  
  h4 {
    font-family: 'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 0.875rem; /* Equivalent to 'text-sm' */
    font-weight: 600;
    margin-bottom: 0.5rem;
    line-height: 1.5;
  }
  
  h5 {
    font-family: 'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 0.75rem; /* Equivalent to 'text-xs' */
    font-weight: 600;
    margin-bottom: 0.25rem;
    line-height: 1.6;
  }
  
  h6 {
    font-family: 'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 0.625rem; /* Smaller than 'text-xs', often for captions/fine print */
    font-weight: 600;
    margin-bottom: 0.125rem;
    line-height: 1.7;
    text-transform: uppercase; /* Often used for small headings */
  }

  a {
    font-family: 'Fira Code', 'Segoe UI', monospace;
    font-weight: bolder;
  }