---
import ArchiveView from '../components/ArchiveView.vue';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Link Archive</title>
  </head>
  <body>
    <ArchiveView client:load />
  </body>
</html>
