---
import HomeView from '../components/HomeView.vue';
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Left feed</title>
  </head>
  <body>
    <HomeView client:load />
  </body>
</html>
