---
import '../styles/global.css';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Archive</title>
    <meta name="description" content="All blog posts" />
  </head>
  <body>
    <slot />
  </body>
</html>